<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.sln.persistance.mapper.ICommunityMapper">


    <select id="getCommunityList" resultType="project.sln.dto.CommunityDTO">
        SELECT C.SEQ, C.IMAGEUPLOAD, U.USER_ID, C.TITLE
        FROM USER U, Community C
        WHERE C.USER_ID = U.USER_ID
    </select>


    <insert id="insertCommunityInfo" parameterType="project.sln.dto.CommunityDTO">
        INSERT INTO community
            (
             SEQ, IMAGEUPLOAD, TITLE, CONTENT, READCNT, USER_ID
            )
        VALUES
            (
             #{seq},
             #{imageUpload},
             #{title},
             #{content},
             #{readCnt},
             #{userId}
            );
    </insert>


    <select id="getCommunityInfo" resultType="project.sln.dto.CommunityDTO">
        SELECT C.SEQ, C.IMAGEUPLOAD, U.USER_ID, C.TITLE, C.READCNT
        FROM USER U, Community C
        WHERE C.USER_ID = U.USER_ID
    </select>


    <update id="updateCommunityReadCnt" parameterType="project.sln.dto.CommunityDTO">
        UPDATE COMMUNITY SET
            READCNT = READCNT + 1
        WHERE
            SEQ = #{seq}
    </update>


    <update id="updateCommunityInfo" parameterType="project.sln.dto.CommunityDTO">
        UPDATE COMMUNITY SET
            IMAGEUPLOAD = #{imageUpload},
            TITLE = #{title},
            CONTENT = #{content}
    </update>


    <delete id="deleteCommunityInfo" parameterType="project.sln.dto.CommunityDTO">
        DELETE FROM community
        WHERE SEQ = #{seq}
    </delete>


</mapper>